application-dev.yml
application.pid
.DS_Store
**/*.log
**/.idea
**/*.ipr
**/*.iws
**/*.iml
**/projectFilesBackup
**/build/
**/.classpath
**/.project
**/.settings/
**/.gradle/
**/target/
**/buildPlugins/
**/logs/
**/out/
**/.slcache/

**/*.class
**/deploy/
payment/web/WEB-INF/work/
payment/web/images/scanF
wgdemo_hofoo/WebRoot/WEB-INF/work/
/.nb-gradle/
**/D:/
**/rebel.xml
common/src/main/java/com/rich/common/annotation/
config/src/main/resources/static/
config/src/main/resources/templates/
gateway/src/main/java/com/rich/gateway/manage/
gateway/src/main/resources/static/
gateway/src/main/resources/templates/
order/src/main/resources/lib/
payment-gateway/src/main/java/com/rich/paymentgateway/common/annotation/
payment-gateway/src/main/java/com/rich/paymentgateway/manage/
merchant/src/main/resources/lib/
snowflake-impluse/src/main/resources/lib/
transaction/src/main/java/com/rich/transaction/manage/
